<header class="profile-header">
    <div class="avatar">
        <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}">
    </div>
    <h1>{{ site.author.name }}</h1>
    <p class="bio">{{ site.author.bio }}</p>
    <div class="social-links">
        <a href="https://facebook.com/darbookspub"><i class="fab fa-facebook-f"></i></a>
        <a href="https://github.com/breakthebull"><i class="fab fa-github"></i></a>
        <a href="https://darbooks.com"><i class="fab fa-link"></i></a>
        <a href="https://books2read.com/ap/nzmyLl/DA-Rasmussen"><i class="fab fa-draft2digital"></i></a>
    </div>
</header>